<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
        }
    </style>
</head>
<body>
    <div>
        <form method="POST" action="/user">
            <label>Name</label>
            <input type="text" name="Name" required placeholder="Enter your name">
            <label>Email</label>
            <input type="text" name="Email" required placeholder="Enter your email">
            <label>Password</label>
            <input type="text" name="Password" required placeholder="Enter your password">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>